language: python

python:
    - 3.6
    - 3.7

install:
    - pip install tox
    - pip install coveralls

script:
    - tox -e docs
    - tox -e flake8
    - tox -e coverage

after_success:
    - coveralls
